<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servicey">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".profile"></activity>
        <activity android:name=".Request" />
        <activity android:name=".detailreal" />
        <activity android:name=".Real_Estate" />
        <activity android:name=".detailcarpenter" />
        <activity android:name=".Carpenter" />
        <activity android:name=".service_add" />
        <activity android:name=".detailarts" />
        <activity android:name=".Arts" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".addservier" />
        <activity android:name=".signup" />
        <activity android:name=".page2_loginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>